pandas~=2.2.1
matplotlib~=3.8.4
seaborn==0.11.2
nltk~=3.8.1
streamlit~=1.33.0
yfinance==0.1.70
pystan==2.18.0.0
fbprophet==0.6

requests~=2.31.0
beautifulsoup4~=4.12.3
textblob~=0.18.0.post0
prophet~=1.1.5
altair~=5.3.0